USE [DomManagement]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[managerID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[managerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Manager] ([managerID], [name], [email], [phone]) VALUES (N'mng07387', N'Karilynn Ussher', N'kussher3@statcounter.com', N'0982-528-988')
INSERT [dbo].[Manager] ([managerID], [name], [email], [phone]) VALUES (N'mng20341', N'Pansie Jaffray', N'pjaffray9@surveymonkey.com', N'0982-605-637')
INSERT [dbo].[Manager] ([managerID], [name], [email], [phone]) VALUES (N'mng27341', N'Gerhardt Halls', N'ghalls7@parallels.com', N'0982-044-263')
/****** Object:  Table [dbo].[Room]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomID] [nvarchar](50) NOT NULL,
	[dom] [nvarchar](50) NOT NULL,
	[monthlyFee] [float] NOT NULL,
	[numberOfSlot] [int] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[roomID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Room] ([roomID], [dom], [monthlyFee], [numberOfSlot]) VALUES (N'A101', N'A', 900000, 6)
INSERT [dbo].[Room] ([roomID], [dom], [monthlyFee], [numberOfSlot]) VALUES (N'A102', N'A', 900000, 6)
INSERT [dbo].[Room] ([roomID], [dom], [monthlyFee], [numberOfSlot]) VALUES (N'A103', N'A', 900000, 6)
/****** Object:  Table [dbo].[Student]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Student] ([studentID], [name], [email], [phone]) VALUES (N'se00100', N'Zeke Ivanov', N'zivanovog@google.com.br', N'0168-015-837')
INSERT [dbo].[Student] ([studentID], [name], [email], [phone]) VALUES (N'se00239', N'Ursula Grieswood', N'ugrieswoodet@kickstarter.com', N'0168-718-886')
INSERT [dbo].[Student] ([studentID], [name], [email], [phone]) VALUES (N'se00248', N'Nahum Beatey', N'nbeateyfd@howstuffworks.com', N'0168-469-947')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Table [dbo].[WorkStatus]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkStatus](
	[statusID] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkStatus] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[WorkStatus] ([statusID], [status]) VALUES (1, N'not process')
INSERT [dbo].[WorkStatus] ([statusID], [status]) VALUES (2, N'processing')
INSERT [dbo].[WorkStatus] ([statusID], [status]) VALUES (3, N'done')
/****** Object:  Table [dbo].[StudentStatus]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentStatus](
	[studentID] [nvarchar](50) NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[electricCost] [float] NOT NULL,
	[waterCost] [float] NOT NULL,
	[extraFee] [float] NOT NULL,
	[extraFeeContent] [nvarchar](3000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[StudentStatus] ([studentID], [month], [year], [electricCost], [waterCost], [extraFee], [extraFeeContent]) VALUES (N'se00100', 9, 2018, 120000, 50000, 0, NULL)
INSERT [dbo].[StudentStatus] ([studentID], [month], [year], [electricCost], [waterCost], [extraFee], [extraFeeContent]) VALUES (N'se00100', 10, 2018, 100000, 40000, 30000, N'thay bóng dèn')
INSERT [dbo].[StudentStatus] ([studentID], [month], [year], [electricCost], [waterCost], [extraFee], [extraFeeContent]) VALUES (N'se00239', 9, 2018, 90000, 40000, 0, NULL)
/****** Object:  Table [dbo].[StudentAccount]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAccount](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[studentID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[StudentAccount] ([username], [password], [studentID]) VALUES (N'student1', N'123456', N'se00100')
INSERT [dbo].[StudentAccount] ([username], [password], [studentID]) VALUES (N'student2', N'123456', N'se00239')
/****** Object:  Table [dbo].[Slot]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slotNumber] [int] NOT NULL,
	[roomID] [nvarchar](50) NOT NULL,
	[studentID] [nvarchar](50) NULL,
	[isAvailable] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Slot] ([slotNumber], [roomID], [studentID], [isAvailable]) VALUES (1, N'A101', N'se00100', 0)
INSERT [dbo].[Slot] ([slotNumber], [roomID], [studentID], [isAvailable]) VALUES (2, N'A101', N'se00239', 0)
INSERT [dbo].[Slot] ([slotNumber], [roomID], [studentID], [isAvailable]) VALUES (3, N'A101', N'se00248', 0)
/****** Object:  Table [dbo].[ProblemComplain]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemComplain](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [nvarchar](50) NOT NULL,
	[fromSlot] [int] NOT NULL,
	[atRoom] [nvarchar](50) NOT NULL,
	[reason] [text] NOT NULL,
	[statusID] [int] NOT NULL,
 CONSTRAINT [PK_ProblemComplain] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerAccount]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerAccount](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[managerID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ManagerAccount] ([username], [password], [managerID]) VALUES (N'manager1', N'123456', N'mng07387')
INSERT [dbo].[ManagerAccount] ([username], [password], [managerID]) VALUES (N'manager2', N'123456', N'mng20341')
/****** Object:  Table [dbo].[LeaveRoomRequest]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRoomRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [nvarchar](50) NOT NULL,
	[fromSlot] [int] NOT NULL,
	[atRoom] [nvarchar](50) NOT NULL,
	[statusID] [int] NOT NULL,
 CONSTRAINT [PK_LeaveRoomRequest] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeRoomRequest]    Script Date: 11/03/2018 18:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeRoomRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [nvarchar](50) NOT NULL,
	[fromSlot] [int] NOT NULL,
	[atRoom] [nvarchar](50) NOT NULL,
	[toSlot] [int] NOT NULL,
	[toRoom] [nvarchar](50) NOT NULL,
	[reason] [text] NULL,
	[statusID] [int] NOT NULL,
 CONSTRAINT [PK_ChangeRoomRequest] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ChangeRoomRequest_Student]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[ChangeRoomRequest]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRoomRequest_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[ChangeRoomRequest] CHECK CONSTRAINT [FK_ChangeRoomRequest_Student]
GO
/****** Object:  ForeignKey [FK_ChangeRoomRequest_WorkStatus]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[ChangeRoomRequest]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRoomRequest_WorkStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[WorkStatus] ([statusID])
GO
ALTER TABLE [dbo].[ChangeRoomRequest] CHECK CONSTRAINT [FK_ChangeRoomRequest_WorkStatus]
GO
/****** Object:  ForeignKey [FK_LeaveRoomRequest_Student]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[LeaveRoomRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRoomRequest_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[LeaveRoomRequest] CHECK CONSTRAINT [FK_LeaveRoomRequest_Student]
GO
/****** Object:  ForeignKey [FK_LeaveRoomRequest_WorkStatus]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[LeaveRoomRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRoomRequest_WorkStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[WorkStatus] ([statusID])
GO
ALTER TABLE [dbo].[LeaveRoomRequest] CHECK CONSTRAINT [FK_LeaveRoomRequest_WorkStatus]
GO
/****** Object:  ForeignKey [FK_ManagerAccount_Manager]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[ManagerAccount]  WITH CHECK ADD  CONSTRAINT [FK_ManagerAccount_Manager] FOREIGN KEY([managerID])
REFERENCES [dbo].[Manager] ([managerID])
GO
ALTER TABLE [dbo].[ManagerAccount] CHECK CONSTRAINT [FK_ManagerAccount_Manager]
GO
/****** Object:  ForeignKey [FK_ProblemComplain_Student]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[ProblemComplain]  WITH CHECK ADD  CONSTRAINT [FK_ProblemComplain_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[ProblemComplain] CHECK CONSTRAINT [FK_ProblemComplain_Student]
GO
/****** Object:  ForeignKey [FK_ProblemComplain_WorkStatus]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[ProblemComplain]  WITH CHECK ADD  CONSTRAINT [FK_ProblemComplain_WorkStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[WorkStatus] ([statusID])
GO
ALTER TABLE [dbo].[ProblemComplain] CHECK CONSTRAINT [FK_ProblemComplain_WorkStatus]
GO
/****** Object:  ForeignKey [FK_Slot_Room]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Room] FOREIGN KEY([roomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Slot_Room]
GO
/****** Object:  ForeignKey [FK_Slot_Student]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Slot_Student]
GO
/****** Object:  ForeignKey [FK_StudentAccount_Student]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[StudentAccount]  WITH CHECK ADD  CONSTRAINT [FK_StudentAccount_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[StudentAccount] CHECK CONSTRAINT [FK_StudentAccount_Student]
GO
/****** Object:  ForeignKey [FK_StudentStatus_Student]    Script Date: 11/03/2018 18:03:15 ******/
ALTER TABLE [dbo].[StudentStatus]  WITH CHECK ADD  CONSTRAINT [FK_StudentStatus_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[StudentStatus] CHECK CONSTRAINT [FK_StudentStatus_Student]
GO
